/bin/
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
*.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.xmi
*.index
.metadata/.lock
.metadata/.log
*.json
*.properties
*.css
.metadata/.plugins/org.eclipse.core.resources/.history/32/60a97a301e30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/23/90c7503b1c30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/4/a0c1209c1d30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/4/e0d77b531e30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/56/70b819381c30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/61/60dac1129b35001c150b89fae79069ea
.metadata/.plugins/org.eclipse.core.resources/.history/61/60dac1129b35001c150b89fae79069ea
.metadata/.plugins/org.eclipse.core.resources/.history/7a/302a7a531e30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/7a/40673b5b1c30001c1ed6c4df6fc65dc4
*.class
*.check
*.xml
*.ini
*.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.core.resources/.history/d4/60b444d41d30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/a2/30450b7e1f30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/ec/90fdf59b1c30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/ff/8050411d1c30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/ff/8050411d1c30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/ed/00fd75b11c30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.projects/Dossier-General/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/Dossier-General/org.eclipse.jdt.core/state.dat
*.version
.metadata/.plugins/org.eclipse.core.resources/.projects/Dossier-General/.markers
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.txt
*.dat
*.log
Dossier-General/.classpath
.metadata/.plugins/org.eclipse.core.resources/.history/99/804d89481f30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.core.resources/.history/c9/1088a1311c30001c1ed6c4df6fc65dc4
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.tree
*.history
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Dossier-General/.project
Dossier-General/bin/interfaces/.gitkeep
Dossier-General/bin/elements/.gitkeep
Dossier-General/bin/cartes/.gitkeep
Dossier-General/bin/.gitkeep
Dossier-General/bin/moteur/.gitkeep
Dossier-General/bin/joueur/.gitkeep
*.png
*.snap
